        <footer class="footer navbar-inverse" >
            <div class="container">
                <div class="content has-text-centered">
                    <p>
                        ©2017 <strong>Blog</strong> by <a href="/">@import</a>. Welcome to my website.
                        aadfadfadfadfasdfasdfasdfasdfasdfasdfasdf
                    </p>
                    <p>
                        <a class="icon" href="javascript:;">
                            <i class="fa fa-github"></i>
                        </a>
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>